{% extends 'layout.html.jinja' %}
{% block title %}
    {{ super() }} - Password generator
{% endblock %}

{% block content %}
    <div class="fullview flex flex-x flex-y">
        {% include 'includes/_password.html.jinja' %}
    </div>
{% endblock %}