<nav class="navbar flex center-y" data-controller="navigationbar">
    <div class="nav-column flex">
        <a class="nav-brand" href="{{ url_for('general.index') }}"></a>

        <ul class="unordered-list">
            <li class="unordered-list-element"></li>
            
            <li class="unordered-list-element">
                <a class="nav-link" href="https://www.github.com/itsarreguin/pystrong/" target="_blank">
                    <span class="nav-icon"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>