<nav class="navbar flex flex-x flex-y" data-controller="navigationbar">
    <div class="nav-column flex between">
        <a class="nav-brand" href="{{ url_for('main.index') }}"></a>

        <ul class="unordered-list">
            <li class="unordered-list-element">
                <a class="nav-link" href="https://www.github.com/itsarreguin/pystrong/" target="_blank">
                    <span class="nav-icon">Source code on GitHub</span>
                </a>
            </li>
        </ul>
    </div>
</nav>