{% extends 'layout.html.jinja' %}
{% block title %}
    {{ super() }} - 404 Not Found
{% endblock %}

{% block content %}
    <div class="fullview flex flex-x flex-y">
        <h2 class="">404 | Page not found</h2>
    </div>
{% endblock %}