<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pystrong{% endblock %}</title>

    <link rel="shortcut icon" sizes="256x256" href="{{ url_for('static', filename='img/icons/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pystrong.css') }}">

    <link rel="apple-touch-icon" sizes="128x128" href="favicon.png">

    <meta name="author" content="Brandon Arreguin">
    <meta name="copyright" content="Copyright © 2022 Brandon Arreguin">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'includes/_navbar.html.jinja' %}
    {% endblock %}

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}
</html>