* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0A0B0F;
}

a {
    text-decoration: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}

.flex {
    display: flex;
}

.flex-y {
    align-items: center;
}
.flex-x {
    justify-content: center;
}
.between {
    justify-content: space-between;
}

.fullview {
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 75px;
    position: absolute;
    z-index: 500;
}

.grid {
    position: relative;
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 34% 66%;
    grid-template-rows: auto;
}

.grid-element-primary {
    background-color: #08090D;
}


h1, h2, h3, h4, h5, h6, a, span, button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
}

button, input{
    background: none;
    border: none;
    cursor: pointer;
    outline: 0px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

.link{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 2px 6px;
    background-color: transparent;
}

.link:hover{
    color: #0A0B0F;
    background-color: #AAAAAA;
}

.full-container {
    width: 100%;
    height: 100vh;
}

.form-group {
    width: 500px;
}

.password-container {
    height: 65px;
    border-radius: 6px;
    margin-bottom: 38px;
    /* background: rgba(10, 11, 15, 0.8); */
    backdrop-filter: blur(10px);
}

.get-password {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 0px 0px 0px 20px;
    content: "Your next strong password";
    color: #808080;
}

.form-btn {
    height: 100%;
    padding: 0px 15px;
    fill: #FFFFFF;
}
.form-btn svg {
    width: 20px;
}

.btn {
    padding: 12px 60px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn-light {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #0A0B0F;
    font-size: 16px;
}
.btn-light:hover {
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.btn-light-outline {
    border: 2px solid #FFFFFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.btn-icon svg {
    width: 16px;
    fill: #FFFFFF;
    margin-right: 10px;
    transition: 0.3s ease;
}

.btn-light-outline:hover {
    background: #FFFFFF;
    color: #0A0B0F;
}
.btn-light-outline:hover .btn-icon svg{
    fill: #0A0B0F;
}

.error-content {
    width: auto;
    display: flex;
}