<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pystrong | Password generator</title>
    {% block content %}
        {% include "components/_tags.html" %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
        {% include "components/_navbar.html" %}
    {% endblock %}
    
    <div class="grid">
        <section class="grid-element grid-element-primary"></section>

        <section class="grid-element grid-element-secondary">
            {% block form %}
                {% include 'components/_form.html' %}
            {% endblock %}
        </section>
    </div>
</body>
</html>